<div ng-controller="brandfiltercontrol">

    <!-- Body main wrapper start -->
    <div class="wrapper">
    
    <!-- PAGE BANNER SECTION -->
    <div class="page-banner-section section" style="background-image: url('image/brandac.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-banner-content">
                        <h1>{{title}}</h1>
                        <ul class="breadcrumb">
                            <li><a href="#">Brand</a></li>
                            <li class="active">{{title}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PAGE BANNER SECTION -->
        
    <!-- PAGE SECTION START -->
    <div class="page-section section pt-120 pb-120">
        <div class="container">
            <div class="row mb-2">
                <div class="col-sm-4">
                    <label for="searchlabel" class="sr-only">Search</label>
                    <input ng-model="search" id="searchid" class="form-control" placeholder="Search for products">
                </div>
                <div class="col-sm-2">
                    <label for="productorder" class="sr-only">Filter by</label>
                    <select class="form-select" ng-model="productorder">
                        <option value="name">Name</option>
                        <option value="price">Price</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <label for="productorder" class="btn btn-default">Asc&nbsp;&nbsp;<input type="radio" name="direction" class="form-check-input" ng-model="direction" checked></label>
                    <label for="productorder" class="btn btn-default">Desc&nbsp;&nbsp;<input type="radio" name="direction" value="reverse" class="form-check-input" ng-model="direction"></label>
                </div>
            </div>
            <br>
            <div class="isotope-grid row">
                <!-- product-item product-item-2 start -->
                <div class="isotope-item chair home-decor col-xl-3 col-lg-4 col-md-6 col-12 mb-50" ng-repeat="brand in brandlist | filter:search | orderBy:productorder:direction">
                    <div class="product-item product-item-2 text-center">
                        <!-- Product Image -->
                        <div class="product-img">
                            <!-- Image -->
                            <a class="image" href="#!product/{{brand.id}}"><img ng-src="{{brand.img}}" alt="" width="270px" height="210px"/></a>
                            <!-- Action Button -->
                            <div class="action-btn-2">
                                <a href="#" data-bs-toggle="modal"  data-bs-target="#quickViewModal" title="Quick View"><i class="pe-7s-look"></i></a>
                            </div>
                        </div>
                        <!-- Portfolio Info -->
                        <div class="product-info">
                            <!-- Title -->
                            <h5 class="title"><a href="#">{{brand.name}}</a></h5>
                            <!-- Price -->
                            <div class="price-ratting fix">
                                <span class="price float-start"><span class="new">{{brand.price + ' $'}}</span></span>
                                <span class="ratting float-end">
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                    <i class="fa fa-star active"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- product-item product-item-2 end -->
                
            </div>
    
            
        </div>
    </div>
    <!-- PAGE SECTION END -->
    
    <!-- QUICK VIEW MODAL START-->
    <div class="modal fade" id="quickViewModal" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!-- QuickView Product Images -->
                    <div class="col-xl-5 col-md-6 col-12 mb-40">	
                        <!-- Tab panes -->
                        <div class="tab-content mb-10">
                            <div class="pro-large-img tab-pane active" id="pro-large-img-1">
                                <img src="img/product/2.jpg" alt="" />
                            </div>
                            <div class="pro-large-img tab-pane" id="pro-large-img-2">
                                <img src="img/product/1.jpg" alt="" />
                            </div>
                            <div class="pro-large-img tab-pane" id="pro-large-img-3">
                                <img src="img/product/3.jpg" alt="" />
                            </div>
                            <div class="pro-large-img tab-pane" id="pro-large-img-4">
                                <img src="img/product/4.jpg" alt="" />					
                            </div>
                            <div class="pro-large-img tab-pane" id="pro-large-img-5">
                                <img src="img/product/5.jpg" alt="" />
                            </div>
                        </div>
                        <!-- QuickView Product Thumbnail Slider -->
                        <div class="pro-thumb-img-slider">
                            <div><a href="#pro-large-img-1" data-toggle="tab"><img src="img/product/2.jpg" alt="" /></a></div>
                            <div><a href="#pro-large-img-2" data-toggle="tab"><img src="img/product/1.jpg" alt="" /></a></div>
                            <div><a href="#pro-large-img-3" data-toggle="tab"><img src="img/product/3.jpg" alt="" /></a></div>
                            <div><a href="#pro-large-img-4" data-toggle="tab"><img src="img/product/4.jpg" alt="" /></a></div>
                            <div><a href="#pro-large-img-5" data-toggle="tab"><img src="img/product/5.jpg" alt="" /></a></div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
    <!-- QUICK VIEW MODAL END-->
    
    
    </div>
    </div>
    
    
    
    