<div class="wrapper" ng-controller="compare">
    <div class="page-banner-section section" style="background-image: url('image/compare1.jpeg')">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page-banner-content">
                        <h1>compare</h1>
                        <ul class="breadcrumb">
                            <li><a href="#">Home</a></li>
                            <li class="active">Compare</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <select class="form-select-1" ng-model="firstproduct" ng-options="x as x.name for x in ProductsList">
                <option value="">---Choose the first product to compare---</option>
            </select>
            <div class="COMPAREPRODUCT" ng-show="firstproduct">
                <div>
                    <img class="img-thumbnail container-fluid" src="{{firstproduct.img}}">
                </div>
                <br>
                <table>
                    <tr>
                        <th class="col-sm-6">Brand</th>
                        <td>{{firstproduct.brand[0].name}}</td>
                    </tr>
                    <tr>
                        <th>Country of made</th>
                        <td>{{firstproduct.madein}}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{firstproduct.price + ' $'}}</td>
                    </tr>
                    <tr>
                        <th>Year of made</th>
                        <td>{{firstproduct.year}}</td>
                    </tr>
                    <tr>
                        <th rowspan="6">Details</th>
                        <td>{{firstproduct.details[0].d1}}</td>
                    </tr>
                    <tr>
                        <td>{{firstproduct.details[0].d2}}</td>
                    </tr>
                    <tr>
                        <td>{{firstproduct.details[0].d3}}</td>
                    </tr>
                    <tr>
                        <td>{{firstproduct.details[0].d4}}</td>
                    </tr>
                    <tr>
                        <td>{{firstproduct.details[0].d5}}</td>
                    </tr>
                    <tr>
                        <td>{{firstproduct.details[0].d6}}</td>
                    </tr>
                </table>
            </div>
        </div>
    
        <div class="col-lg-6">
            <select class="form-select-1" ng-model="secondproduct" ng-options="x as x.name for x in ProductsList">
                <option value="">---Choose the second product to compare---</option>
            </select>
            <div class="COMPAREPRODUCT" ng-show="secondproduct">
                <div>
                    <img class="img-thumbnail container-fluid" src="{{secondproduct.img}}" width="270px" height="210px">
                </div>
                <br>
                    <table>
                    <tr>
                        <th class="col-sm-6">Brand</th>
                        <td>{{secondproduct.brand[0].name}}</td>
                    </tr>
                    <tr>
                        <th>Country of made</th>
                        <td>{{secondproduct.madein}}</td>
                    </tr>
                    <tr>
                        <th>Price</th>
                        <td>{{secondproduct.price+ ' $'}}</td>
                    </tr>
                    <tr>
                        <th>Year of made</th>
                        <td>{{secondproduct.year}}</td>
                    </tr>
                    <tr>
                        <th rowspan="6">Details</th>
                        <td>{{secondproduct.details[0].d1}}</td>
                    </tr>
                    <tr>
                        <td>{{secondproduct.details[0].d2}}</td>
                    </tr>
                    <tr>
                        <td>{{secondproduct.details[0].d3}}</td>
                    </tr>
                    <tr>
                        <td>{{secondproduct.details[0].d4}}</td>
                    </tr>
                    <tr>
                        <td>{{secondproduct.details[0].d5}}</td>
                    </tr>
                    <tr>
                        <td>{{secondproduct.details[0].d6}}</td>
                    </tr>
                </table>
            </div>
        </div>
        </div> 
</div>
   